.svg_container {
    position: relative;
    top: 10vh;
    left: 0.5%;
    width: 99%;
}
svg {
    border: 1px solid red;
}
.line {
    stroke: rgb(255, 0, 0);
    stroke-width: 1;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    text-align: center;
}
.op {
    stroke: black;
    stroke-width: 1;
}
.select {
    /* float: left; */
    width: 30vw;
    display: inline-block;
    margin: 1%;
}
.slider {
    width: 30vw;
    margin: 10px;
}
